{"openapi":"3.1.0","info":{"title":"IMPECT API","version":"4.1.2"},"servers":[{"url":"https://api.impect.com","description":"Generated server url"}],"tags":[{"name":"V5 Match Level Data","description":"Match Level Rest API"},{"name":"V5 Iteration Level Data","description":"Iteration Level Data Rest API"},{"name":"V5 Squad Ratings & Predictions","description":"Squad Ratings & Predictions Rest API"},{"name":"V5 Delete Feed","description":"Delete Feed Rest API for iterations, squads, players and matches"},{"name":"V5 Update Feed","description":"Update Feed Rest API"},{"name":"V5 Master Data","description":"Master Data Rest API"},{"name":"V5 Definitions","description":"Definitions Rest API"}],"paths":{"/v5/customerapi/update/stadiums":{"get":{"tags":["V5 Update Feed"],"summary":"get stadium updates","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all updated stadiums and their attributes","operationId":"getStadiumUpdates","parameters":[{"name":"since","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.StadiumDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/update/squads":{"get":{"tags":["V5 Update Feed"],"summary":"get squad updates","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all updated squads and their attributes","operationId":"getSquadUpdates","parameters":[{"name":"since","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.SquadDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/update/skillcorner-frame-mappings":{"get":{"tags":["V5 Update Feed"],"summary":"get skillcorner frame mappings","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all updated skillcorner frame mappings","operationId":"getSkillcornerFrameMappingsUpdates","parameters":[{"name":"since","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.customerapi.dtos.SkillcornerMappingUpdateDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/update/players":{"get":{"tags":["V5 Update Feed"],"summary":"get player updates","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all updated players and their attributes","operationId":"getPlayerUpdates","parameters":[{"name":"since","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.PlayerDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/update/matches":{"get":{"tags":["V5 Update Feed"],"summary":"get match updates","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all updated matches and their attributes","operationId":"getMatchUpdates","parameters":[{"name":"since","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.MatchDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/update/matchdata":{"get":{"tags":["V5 Update Feed"],"summary":"get match data updates","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all updated matches which have updated match data","operationId":"getMatchDataUpdates","parameters":[{"name":"since","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.MatchDataDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/update/iterations":{"get":{"tags":["V5 Update Feed"],"summary":"get iteration updates","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all updated iterations and their attributes","operationId":"getCompetitionIterationUpdates","parameters":[{"name":"since","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.IterationDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/update/coaches":{"get":{"tags":["V5 Update Feed"],"summary":"get coach updates","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all updated coaches and their attributes","operationId":"getCoachUpdates","parameters":[{"name":"since","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.record.CoachDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/squad-style-of-play":{"get":{"tags":["V5 Definitions"],"summary":"get all style of play definitions","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all styles of play and the KPIs and scores they are computed from","operationId":"getAllSquadStyleOfPlayDefinitions","parameters":[{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.SquadStyleOfPlayDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/squad-scores":{"get":{"tags":["V5 Definitions"],"summary":"get all Squad Score definitions","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all Squad Score IDs and their names","operationId":"getAllSquadScoreDefinitions","parameters":[{"name":"language","in":"query","required":false,"schema":{"type":"string","default":"en"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.SquadScoreDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/player-scores":{"get":{"tags":["V5 Definitions"],"summary":"get all Score definitions","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all Score IDs and their names","operationId":"getAllScoreDefinitions","parameters":[{"name":"language","in":"query","required":false,"schema":{"type":"string","default":"en"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.ScoreDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/player-profiles":{"get":{"tags":["V5 Definitions"],"summary":"get all Profile definitions","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all Profile IDs and their names","operationId":"getAllProfileDefinitions","parameters":[{"name":"language","in":"query","required":false,"schema":{"type":"string","default":"en"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.ProfileDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/matches/{matchId}":{"get":{"tags":["V5 Match Level Data"],"summary":"get match line-ups and substitutions","description":"This endpoint is protected by `hasRole('API')`<br /><br />get the starting formations, starting line-ups, substitutions and tactical changes for a single match","operationId":"getMatch","parameters":[{"name":"matchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectCom.impect.external.common.dto.customerapi.v5.MatchInfoDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/matches/{matchId}/squad-style-of-play":{"get":{"tags":["V5 Match Level Data"],"summary":"get squad style of play for single match","description":"This endpoint is protected by `hasRole('API')`<br /><br />get style of play results for both squads of a single match","operationId":"getMatchStyleOfPlayForSquads","parameters":[{"name":"matchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectCom.impect.external.common.dto.customerapi.v5.SquadStyleOfPlayMatchValuesDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/matches/{matchId}/squad-scores":{"get":{"tags":["V5 Match Level Data"],"summary":"get scores on squad level for single match","description":"This endpoint is protected by `hasRole('API')`<br /><br />get all scores on squad level for a single match","operationId":"getMatchScoresForSquads","parameters":[{"name":"matchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectCom.impect.external.common.dto.customerapi.v5.SquadScoreMatchValuesDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/matches/{matchId}/squad-kpis":{"get":{"tags":["V5 Match Level Data"],"summary":"get kpis on squad level for single match","description":"This endpoint is protected by `hasRole('API')`<br /><br />get all kpis on squad level for a single match","operationId":"getMatchSumsForSquads","parameters":[{"name":"matchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectCom.impect.external.common.dto.customerapi.v5.MatchSumsSquadsDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/matches/{matchId}/skillcorner-frame-mappings":{"get":{"tags":["V5 Match Level Data"],"summary":"get skillcorner frame mappings for single match","description":"This endpoint is protected by `hasRole('API')`<br /><br />get all skillcorner frame mappings for a single match","operationId":"getSkillcornerFrameMappingsForMatch","parameters":[{"name":"matchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectCom.impect.external.customerapi.dtos.SkillcornerMatchResultDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/matches/{matchId}/set-pieces":{"get":{"tags":["V5 Match Level Data"],"summary":"get set pieces for single match","description":"This endpoint is protected by `hasRole('API')`<br /><br />get all set pieces for a single match","operationId":"getSetPiecesForMatch","parameters":[{"name":"matchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.customerapi.dtos.SetPieceDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/matches/{matchId}/positions/{positions}/player-scores":{"get":{"tags":["V5 Match Level Data"],"summary":"get scores on player level for single match for given positions","description":"This endpoint is protected by `hasRole('API')`<br /><br />get all scores on player level for a single match","operationId":"getMatchScoresForPlayersAndPositions","parameters":[{"name":"matchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"positions","in":"path","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectCom.impect.external.common.dto.customerapi.v5.PlayerScoreMatchValuesDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/matches/{matchId}/player-scores":{"get":{"tags":["V5 Match Level Data"],"summary":"get scores on player level for single match","description":"This endpoint is protected by `hasRole('API')`<br /><br />get all scores on player level for a single match","operationId":"getMatchScoresForPlayers","parameters":[{"name":"matchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectCom.impect.external.common.dto.customerapi.v5.PlayerScoreMatchValuesAllPositionsDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/matches/{matchId}/player-kpis":{"get":{"tags":["V5 Match Level Data"],"summary":"get kpis on player level for single match","description":"This endpoint is protected by `hasRole('API')`<br /><br />get all kpis on player level for a single match","operationId":"getMatchSumsForPlayers","parameters":[{"name":"matchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectCom.impect.external.common.dto.customerapi.v5.MatchSumsPlayersDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/matches/{matchId}/events":{"get":{"tags":["V5 Match Level Data"],"summary":"get match events","description":"This endpoint is protected by `hasRole('API')`<br /><br />get event data for one match","operationId":"getMatchEvents","parameters":[{"name":"matchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.EventDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/matches/{matchId}/event-kpis":{"get":{"tags":["V5 Match Level Data"],"summary":"get kpis on event level for single match","description":"This endpoint is protected by `hasRole('API')`<br /><br />get stand-alone kpis on event level for a single match","operationId":"getMatchScorings","parameters":[{"name":"matchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.ScoringDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/kpis":{"get":{"tags":["V5 Definitions"],"summary":"get all KPI definitions","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all KPI IDs and their names","operationId":"getAllKpiDefinitions","parameters":[{"name":"language","in":"query","required":false,"schema":{"type":"string","default":"en"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.KpiDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/kpis/event":{"get":{"tags":["V5 Definitions"],"summary":"get event KPI definitions","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with event KPI IDs and their names","operationId":"getEventKpiDefinitions","parameters":[{"name":"language","in":"query","required":false,"schema":{"type":"string","default":"en"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.KpiDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations":{"get":{"tags":["V5 Master Data"],"summary":"get all iterations","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all iterations and their attributes","operationId":"getAllIterations","parameters":[{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.IterationDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations/{iterationId}/stadiums":{"get":{"tags":["V5 Master Data"],"summary":"get stadiums for single iteration","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all stadiums and their attributes for single iteration","operationId":"getStadiumsForIteration","parameters":[{"name":"iterationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.StadiumDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations/{iterationId}/squads":{"get":{"tags":["V5 Master Data"],"summary":"get squads for single iteration","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all squads and their attributes for single iteration","operationId":"getSquadsForIteration","parameters":[{"name":"iterationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.SquadDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations/{iterationId}/squads/{squadId}/positions/{positions}/player-scores":{"get":{"tags":["V5 Iteration Level Data"],"summary":"get player scores for single iteration for given positions","description":"This endpoint is protected by `hasRole('API')`<br /><br />get scores for players for single iteration","operationId":"getIterationScoresForPlayersAndPositions","parameters":[{"name":"iterationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"squadId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"positions","in":"path","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.PlayerScoreValuesDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations/{iterationId}/squads/{squadId}/positions/{positions}/player-profile-scores":{"get":{"tags":["V5 Iteration Level Data"],"summary":"get player profile scores for single iteration","description":"This endpoint is protected by `hasRole('API')`<br /><br />get profile scores for players for single iteration","operationId":"getIterationProfileScoresForPlayers","parameters":[{"name":"iterationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"squadId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"positions","in":"path","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"minGames","in":"query","required":false,"schema":{"type":"number","format":"float","default":0.0}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.IterationPlayerProfileScoresDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations/{iterationId}/squads/{squadId}/player-scores":{"get":{"tags":["V5 Iteration Level Data"],"summary":"get player scores for single iteration","description":"This endpoint is protected by `hasRole('API')`<br /><br />get scores for players for single iteration","operationId":"getIterationScoresForPlayers","parameters":[{"name":"iterationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"squadId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.PlayerScorePlayerPositionDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations/{iterationId}/squads/{squadId}/player-kpis":{"get":{"tags":["V5 Iteration Level Data"],"summary":"get player average kpis for single iteration","description":"This endpoint is protected by `hasRole('API')`<br /><br />get average KPIs for players for single iteration","operationId":"getIterationAvgKpisForPlayers","parameters":[{"name":"iterationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"squadId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.IterationAvgPlayerKpisDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations/{iterationId}/squads/ratings":{"get":{"tags":["V5 Squad Ratings & Predictions"],"summary":"get squad ratings for single iteration","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all squad ratings for single iteration","operationId":"getSquadRatings","parameters":[{"name":"iterationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectCom.impect.external.common.dto.customerapi.v5.SquadRatingsForIterationDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations/{iterationId}/squad-style-of-play":{"get":{"tags":["V5 Iteration Level Data"],"summary":"get squad style of play for single iteration","description":"This endpoint is protected by `hasRole('API')`<br /><br />get style of play results for squads for single iteration","operationId":"getIterationStyleOfPlayForSquads","parameters":[{"name":"iterationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.IterationSquadStyleOfPlayDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations/{iterationId}/squad-scores":{"get":{"tags":["V5 Iteration Level Data"],"summary":"get squad scores for single iteration","description":"This endpoint is protected by `hasRole('API')`<br /><br />get scores for squads for single iteration","operationId":"getIterationScoresForSquads","parameters":[{"name":"iterationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.SquadScoreValuesDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations/{iterationId}/squad-kpis":{"get":{"tags":["V5 Iteration Level Data"],"summary":"get squad average kpis for single iteration","description":"This endpoint is protected by `hasRole('API')`<br /><br />get average KPIs for squads for single iteration","operationId":"getIterationAvgKpisForSquads","parameters":[{"name":"iterationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.IterationAvgSquadKpisDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations/{iterationId}/predictions/model-coefficients":{"get":{"tags":["V5 Squad Ratings & Predictions"],"summary":"get prediction model coefficients for single iteration","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with prediction model coefficients for single iteration","operationId":"getSquadModelsForIteration","parameters":[{"name":"iterationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectCom.impect.external.common.dto.customerapi.v5.ModelCoefficientDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations/{iterationId}/predictions/match-predictions":{"get":{"tags":["V5 Squad Ratings & Predictions"],"summary":"get match predictions for single iteration","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with match predictions for single iteration","operationId":"getMatchPredictionsForIteration","parameters":[{"name":"iterationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.MatchPredictionDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations/{iterationId}/players":{"get":{"tags":["V5 Master Data"],"summary":"get players for single iteration","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all players and their attributes for single iteration","operationId":"getAllPlayersForIteration","parameters":[{"name":"iterationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.PlayerDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations/{iterationId}/matches":{"get":{"tags":["V5 Master Data"],"summary":"get matches for single iteration","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all matches of single iteration and their attributes","operationId":"getMatches","parameters":[{"name":"iterationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.MatchDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/iterations/{iterationId}/coaches":{"get":{"tags":["V5 Master Data"],"summary":"get coaches for single iteration","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all coaches and their attributes for single iteration","operationId":"getAllCoachesForIteration","parameters":[{"name":"iterationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.record.CoachDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/delete/stadiums":{"get":{"tags":["V5 Delete Feed"],"summary":"get stadium deletes","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all deleted stadiums","operationId":"getStadiumDeletes","parameters":[{"name":"since","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.DeletedDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/delete/squads":{"get":{"tags":["V5 Delete Feed"],"summary":"get squad deletes","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all deleted squads","operationId":"getSquadDeletes","parameters":[{"name":"since","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.DeletedDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/delete/players":{"get":{"tags":["V5 Delete Feed"],"summary":"get player deletes","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all deleted players","operationId":"getPlayerDeletes","parameters":[{"name":"since","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.DeletedDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/delete/matches":{"get":{"tags":["V5 Delete Feed"],"summary":"get match deletes","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all deleted matches","operationId":"getMatchDeletes","parameters":[{"name":"since","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.DeletedDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/delete/iterations":{"get":{"tags":["V5 Delete Feed"],"summary":"get iteration deletes","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all deleted iterations","operationId":"getCompetitionIterationDeletes","parameters":[{"name":"since","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.DeletedDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/delete/coaches":{"get":{"tags":["V5 Delete Feed"],"summary":"get coach deletes","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all deleted coaches","operationId":"getCoachDeletes","parameters":[{"name":"since","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.DeletedDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}},"/v5/customerapi/countries":{"get":{"tags":["V5 Master Data"],"summary":"get all countries","description":"This endpoint is protected by `hasRole('API')`<br /><br />get a list with all country IDs and their names","operationId":"getAllCountries","parameters":[{"name":"X-Request-ID","in":"header","description":"Ideally it should be a UUID to correlates requests between client and server. For more information see https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#cite_ref-stackoverflow1_39-0","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"You have sent too many requests in a given amount of time (for more information see the `RateLimit-Policy` header).\nUse the Header `RateLimit-Remaining` or create a sleep loop for the duration in second given by the `Retry-After` header in case of a 429 error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.CountryDetailDto"}}}},"403":{"description":"Your role does not allow it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}},"401":{"description":"If no Authorization header is present","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.impect.external.common.rest.ErrorResponseObject"}}}}}}}},"components":{"schemas":{"com.impect.external.common.dto.customerapi.v5.StadiumDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"pitchLength":{"type":"number","format":"double"},"pitchWidth":{"type":"number","format":"double"},"name":{"type":"string"},"address":{"type":"string"},"timeZone":{"type":"string"},"idMappings":{"type":"array","items":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}},"com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.StadiumDto":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.StadiumDto"}},"status":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"com.impect.external.common.dto.customerapi.v5.SquadDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"countryId":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["NATIONAL_TEAM","CLUB"]},"gender":{"type":"string","enum":["MALE","FEMALE"]},"imageUrl":{"type":"string"},"idMappings":{"type":"array","items":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}},"access":{"type":"boolean"}}},"com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.SquadDto":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.SquadDto"}},"status":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.customerapi.dtos.SkillcornerMappingUpdateDto":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.customerapi.dtos.SkillcornerMappingUpdateDto"}},"status":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"com.impect.external.customerapi.dtos.SkillcornerMappingUpdateDto":{"type":"object","properties":{"matchId":{"type":"integer","format":"int64"},"date":{"type":"string","format":"date-time"}}},"com.impect.external.common.dto.customerapi.v5.PlayerDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"firstname":{"type":"string"},"lastname":{"type":"string"},"commonname":{"type":"string"},"birthdate":{"type":"string","format":"date"},"birthplace":{"type":"string"},"leg":{"type":"string","enum":["LEFT","RIGHT","BOTH"]},"countryIds":{"type":"array","items":{"type":"integer","format":"int64"}},"gender":{"type":"string","enum":["MALE","FEMALE"]},"currentSquadId":{"type":"integer","format":"int64"},"height":{"type":"number","format":"double"},"idMappings":{"type":"array","items":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}},"com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.PlayerDto":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.PlayerDto"}},"status":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"com.impect.external.common.dto.customerapi.v5.IterationStepDto":{"type":"object","properties":{"index":{"type":"integer","format":"int32"},"name":{"type":"string"}}},"com.impect.external.common.dto.customerapi.v5.MatchDto":{"type":"object","properties":{"iterationId":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"homeSquadId":{"type":"integer","format":"int64"},"awaySquadId":{"type":"integer","format":"int64"},"scheduledDate":{"type":"string","format":"date-time"},"lastCalculationDate":{"type":"string","format":"date-time"},"matchDay":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.IterationStepDto"},"available":{"type":"boolean"},"stadiumId":{"type":"integer","format":"int64"},"idMappings":{"type":"array","items":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}},"goals":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.MatchGoalsDto"},"result":{"type":"string"},"resultType":{"type":"string","enum":["REGULAR","EXTRA_TIME","PENALTIES"]}}},"com.impect.external.common.dto.customerapi.v5.MatchGoalsDto":{"type":"object","properties":{"home":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.MatchGoalsSideDto"},"away":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.MatchGoalsSideDto"}}},"com.impect.external.common.dto.customerapi.v5.MatchGoalsSideDto":{"type":"object","properties":{"halfTime":{"type":"integer","format":"int32"},"fullTime":{"type":"integer","format":"int32"},"extraTime1":{"type":"integer","format":"int32"},"extraTime2":{"type":"integer","format":"int32"},"penalties":{"type":"integer","format":"int32"}}},"com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.MatchDto":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.MatchDto"}},"status":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"com.impect.external.common.dto.customerapi.v5.MatchDataDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"date":{"type":"string","format":"date-time"}}},"com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.MatchDataDto":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.MatchDataDto"}},"status":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"com.impect.external.common.dto.customerapi.v5.CompetitionDto":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"integer","format":"int64"},"type":{"type":"string"},"countryId":{"type":"integer","format":"int64"},"gender":{"type":"string","enum":["MALE","FEMALE"]},"ageGroup":{"type":"string","enum":["ADULT","YOUTH"]}}},"com.impect.external.common.dto.customerapi.v5.IterationDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"season":{"type":"string"},"competition":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.CompetitionDto"},"dataVersion":{"type":"string","enum":["V1","V2","V3","V4"]},"lastChangeTimestamp":{"type":"string","format":"date-time"},"idMappings":{"type":"array","items":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}},"com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.IterationDto":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.IterationDto"}},"status":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"com.impect.external.common.record.CoachDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"shortName":{"type":"string"},"birthDate":{"type":"string","format":"date"},"gender":{"type":"string","enum":["MALE","FEMALE"]},"countryIds":{"type":"array","items":{"type":"integer","format":"int64"}},"idMappings":{"type":"array","items":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}},"com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.record.CoachDto":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.record.CoachDto"}},"status":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"com.impect.external.common.dto.customerapi.v5.SquadStyleOfPlayDto":{"type":"object","properties":{"styleOfPlayName":{"type":"string"},"global":{"type":"boolean"},"factors":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.SquadStyleOfPlayFactorDto"}}}},"com.impect.external.common.dto.customerapi.v5.SquadStyleOfPlayFactorDto":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string","enum":["KPI","SCORE"]},"weight":{"type":"number","format":"float"},"inverted":{"type":"boolean"},"opponent":{"type":"boolean"}}},"com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.SquadStyleOfPlayDto":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.SquadStyleOfPlayDto"}},"status":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"com.impect.external.common.dto.customerapi.v5.SquadScoreDetailsDto":{"type":"object","properties":{"label":{"type":"string"},"definition":{"type":"string"},"meaning":{"type":"string"}}},"com.impect.external.common.dto.customerapi.v5.SquadScoreDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"details":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.SquadScoreDetailsDto"},"inverted":{"type":"boolean"}}},"com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.SquadScoreDto":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.SquadScoreDto"}},"status":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"com.impect.external.common.dto.customerapi.v5.ScoreDetailsDto":{"type":"object","properties":{"label":{"type":"string"},"definition":{"type":"string"},"meaning":{"type":"string"}}},"com.impect.external.common.dto.customerapi.v5.ScoreDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"details":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.ScoreDetailsDto"},"inverted":{"type":"boolean"}}},"com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.ScoreDto":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.ScoreDto"}},"status":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"com.impect.external.common.dto.customerapi.v5.ProfileDto":{"type":"object","properties":{"name":{"type":"string"},"factors":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.ProfileFactorDto"}},"positions":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.ProfilePositionDto"}}}},"com.impect.external.common.dto.customerapi.v5.ProfileFactorDto":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string","enum":["KPI","SCORE"]},"weight":{"type":"number","format":"float"},"inverted":{"type":"boolean"}}},"com.impect.external.common.dto.customerapi.v5.ProfilePositionDto":{"type":"object","properties":{"name":{"type":"string"}}},"com.impect.external.common.rest.ResponseObjectJava.util.ListCom.impect.external.common.dto.customerapi.v5.ProfileDto":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.ProfileDto"}},"status":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"com.impect.external.common.dto.customerapi.v5.FormationAtGameTimeDto":{"type":"object","properties":{"gameTime":{"type":"string"},"gameTimeInSec":{"type":"number","format":"double"},"formation":{"type":"string"}}},"com.impect.external.common.dto.customerapi.v5.GameTimeDto":{"type":"object","properties":{"gameTime":{"type":"string"},"gameTimeInSec":{"type":"number","format":"double"}}},"com.impect.external.common.dto.customerapi.v5.MatchInfoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"dateTime":{"type":"string","format":"date-time"},"lastCalculationDate":{"type":"string","format":"date-time"},"iterationId":{"type":"integer","format":"int64"},"squadHome":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.MatchSquadInfoDto"},"squadAway":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.MatchSquadInfoDto"},"stadiumId":{"type":"integer","format":"int64"}}},"com.impect.external.common.dto.customerapi.v5.MatchSquadInfoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"players":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.PlayerInMatchSquadInfoDto"}},"startingPositions":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.StartingPositionsInMatchSquadInfoDto"}},"substitutions":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.SubstitutionInMatchSquadInfoDto"}},"startingFormation":{"type":"string"},"formations":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.FormationAtGameTimeDto"}},"coachId":{"type":"integer","format":"int64"}}},"com.impect.external.common.dto.customerapi.v5.PlayerInMatchSquadInfoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"shirtNumber":{"type":"integer","format":"int32"}}},"com.impect.external.common.dto.customerapi.v5.StartingPositionsInMatchSquadInfoDto":{"type":"object","properties":{"playerId":{"type":"integer","format":"int64"},"position":{"type":"string","enum":["BANK","GOALKEEPER","LEFT_WINGBACK_DEFENDER","RIGHT_WINGBACK_DEFENDER","CENTRAL_DEFENDER","DEFENSE_MIDFIELD","CENTRAL_MIDFIELD","ATTACKING_MIDFIELD","LEFT_WINGER","RIGHT_WINGER","CENTER_FORWARD"]},"positionSide":{"type":"string","enum":["LEFT","CENTRE_LEFT","CENTRE","CENTRE_RIGHT","RIGHT","UNKNOWN"]}}},"com.impect.external.common.dto.customerapi.v5.SubstitutionInMatchSquadInfoDto":{"type":"object","properties":{"gameTime":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.GameTimeDto"},"playerId":{"type":"integer","format":"int64"},"toPosition":{"type":"string","enum":["BANK","GOALKEEPER","LEFT_WINGBACK_DEFENDER","RIGHT_WINGBACK_DEFENDER","CENTRAL_DEFENDER","DEFENSE_MIDFIELD","CENTRAL_MIDFIELD","ATTACKING_MIDFIELD","LEFT_WINGER","RIGHT_WINGER","CENTER_FORWARD"]},"positionSide":{"type":"string","enum":["LEFT","CENTRE_LEFT","CENTRE","CENTRE_RIGHT","RIGHT","UNKNOWN"]},"fromPosition":{"type":"string","enum":["BANK","GOALKEEPER","LEFT_WINGBACK_DEFENDER","RIGHT_WINGBACK_DEFENDER","CENTRAL_DEFENDER","DEFENSE_MIDFIELD","CENTRAL_MIDFIELD","ATTACKING_MIDFIELD","LEFT_WINGER","RIGHT_WINGER","CENTER_FORWARD"]},"fromPositionSide":{"type":"string","enum":["LEFT","CENTRE_LEFT","CENTRE","CENTRE_RIGHT","RIGHT","UNKNOWN"]},"exchangedPlayerId":{"type":"integer","format":"int64"},"substitutionType":{"type":"string","enum":["SUB_ON","SUB_OFF","POSITION_CHANGE","POSITION_SIDE_CHANGE","RED_CARD"]}}},"com.impect.external.common.rest.ResponseObjectCom.impect.external.common.dto.customerapi.v5.MatchInfoDto":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.MatchInfoDto"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"com.impect.external.common.dto.customerapi.v5.SquadStyleOfPlayMatchValuesDto":{"type":"object","properties":{"matchId":{"type":"integer","format":"int64"},"squadHome":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.SquadStyleOfPlaySquadDto"},"squadAway":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.SquadStyleOfPlaySquadDto"}}},"com.impect.external.common.dto.customerapi.v5.SquadStyleOfPlaySquadDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"styleOfPlay":{"type":"array","items":{"$ref":"#/components/schemas/com.impect.external.common.dto.customerapi.v5.SquadStyleOfPlayValueDto"}}}},"com.impect.external.common.dto.customerapi.v5.SquadStyleOfPlayValueDto":{"type":"object","properties":{"styleOfPlayName":{"type":"string"},"value":{"type":"number","format":"float"}}},"com.impect.external.common.rest.ResponseObjectCom.impect.external.common.dto.customerapi.v5.SquadStyleOfPlayMatchValuesDto":{"type":"object","properties":{"data":{"$ref":"#/
[...]
